env/
PedidosBack/db.sqlite3
PedidosBack/PedidosBack/__pycache__/
PedidosBack/PedidosBack/migrations/

PedidosBack/negocio/__pycache__/
PedidosBack/negocio/migrations/

PedidosBack/login/__pycache__/
PedidosBack/login/migrations/
PedidosBack/login/views_rest_token.py

PedidosBack/productos/__pycache__/
PedidosBack/productos/migrations/*
PedidosBack/productos/migrations/__init__.py

PedidosBack/media/*